<% include ./partials/header %>

<h1>Sign Up!</h1>

<form method="post" action="/register">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>SignUp</button>
</form>


</body>
</html>